.slider-images>img.next {
    opacity: 1;
    transition: 2s;
    filter: blur(35px);
    left: 100%;
    top: 10%;
    transform: translate(-50%, -50%) scale(0.3);
}

.slider-images>img.active {
    opacity: 1;
    transform: scale(1);
    transition: 2s;
    filter: blur(0px);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.slider-images>img.previous {
    opacity: 1;
    transition: 2s;
    filter: blur(25px);
    left: 95%;
    top: 90%;
}

.slider-images>img.inactive {
    opacity: 0;
    transition: 2s;
    filter: blur(35px);
    left: 100%;
    top: 100%;
    transform: translate(10%, 10%) scale(0.3);
}

.slider-images {
  
    width: 50%;
    height: 100%;
    top: 0;
}

.slider-images>img {
    transform: translate(-50%, -50%) scale(0.3);
    object-fit: cover;
    max-width:600px;
    max-height: 779px;
    height: 100%;
    min-height: 320px;
}